# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Results and data
*.msh
*.res
*.post.*
*.pcf
*.prof
*.prv
*.row
*.mdpa
*.mpits

# Extrae config
extrae.xml
extrae_raw.xml
